*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
./media/avatar/*
media/avatar/*
./media/post/*
./media/posts/*
media/posts/*   
media/post/*
staticfiles/
./staticfiles/
env
.env
.venv
env_linux

#src
*.sqlite*
*.sqlite3

.env
node_modules
yarn.lock

tasks_logs/
#media/

apps/common/management
apps/helpers

#/media/
!/media/mapper.json
!/media/Sales.csv