{% extends "layouts/base-alt.html" %}
{% load static %}
{% load profile_tags %}

{% block content %}

<div class=" w-screen pt-20">
    <div class="bg-white dark:bg-gray-900 shadow p-6 pt-10">
        <div class="flex flex-col lg:flex-row justify-between items-center lg:items-start">
            <div class="flex flex-col items-center">
                {% if profile.avatar %}
                    <img class="w-32 h-32 rounded-lg object-cover" src="{{ profile.avatar.url }}" alt="Profile Picture">
                {% else %}
                    <img class="w-32 h-32 rounded-lg object-cover" src="{% static "dist/img/default-user.png" %}" alt="Profile Picture">
                {% endif %}
                <h2 class="mt-4 text-2xl font-semibold text-gray-800 dark:text-gray-200">@{{user.username}}</h2>
                <p class="mt-2 text-gray-600 dark:text-gray-400">{{user.email}}</p>
            </div>
            <div class="flex mt-6 lg:mt-0 space-x-4">
                <button id="readFollowingButton" data-modal-target="readFollowingModal" data-modal-toggle="readFollowingModal">
                    <div class="flex flex-col items-center">
                        <span class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{following|length}}</span>
                        <span class="text-sm text-gray-600 dark:text-gray-400">Following</span>
                    </div>
                </button>
                <div id="readFollowingModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                    <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
                        <!-- Modal content -->
                        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 w-full">
                            <!-- Modal header -->
                            <div class="flex justify-between mb-4 rounded-t sm:mb-5">
                                <div class="text-lg text-gray-900 md:text-xl dark:text-white">
                                    <h3 class="font-semibold ">
                                        Following
                                    </h3>
                                    <p class="text-xs">
                                        {{following|length}} Following
                                    </p>
                                </div>
                                <div>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="readFollowingModal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                            </div>
                            <dl class="w-100">
                                <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">User Profiles</dt>
                                <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400 w-full">
                                    <div class="flex flex-wrap w-full space-y-4 overflow-y-auto" style="max-height: 400px;">
                                        {% for user in following %}
                                            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-3 mx-auto">
                                                <div class="flex flex-col items-center pb-10">
                                                    <img style="max-height:100px" class="w-18 h-18 mb-3 rounded-full shadow-lg" src="{% if user.following.avatar %}{{ user.following.avatar.url }}{% else %}{% static 'dist/img/default-user.png' %}{% endif %}" alt="{{user.following}}"/>
                                                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ user.following }}</h5>
                                                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ user.following.first_name }}</span>
                                                    <div class="flex space-x-2 mt-4 md:mt-6">
                                                        {% if request.user.is_authenticated %}
                                                            {% if request.user.profile != user.following %}
                                                                <a href="/users/profile/{{user.following}}/unfollow" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center focus:ring-gray-500 inline-flex items-center bg-gray-100 border text-gray-800 border-gray-800 dark:bg-gray-600 dark:border-gray-800 dark:text-white rounded-lg">Unfollow</a>
                                                            {% else %}
                                                                {% if request.user.profile != user.follower %}
                                                                    {% if request.user.profile|is_following:user.following %}
                                                                        <a href="/users/profile/{{user.following}}/unfollow" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center focus:ring-gray-500 inline-flex items-center bg-gray-100 border text-gray-800 border-gray-800 dark:bg-gray-600 dark:border-gray-800 dark:text-white rounded-lg">Unfollow</a>
                                                                    {% else %}
                                                                        <a href="/users/profile/{{user.following}}/follow" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Follow</a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <a href="/users/profile/{{ user.following }}/" class="py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">View Profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% if following|length == 0 %}
                                            <div class="w-full text-center text-gray-500 dark:text-gray-400 py-8">
                                                <h3>No following profiles</h3>
                                                <p class="mt-2 mb-4">To find people to follow, head to the social feed:</p>
                                                <a href="/social/feed" class="rounded-lg px-3 py-2 text-white bg-primary-700 hover:bg-primary-400 font-bold">Social Feed</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </dd>
                            </dl>  
                        </div>
                    </div>
                </div>
                <button id="readFollowerButton" data-modal-target="readFollowerModal" data-modal-toggle="readFollowerModal">
                    <div class="flex flex-col items-center mx-8">
                        <span class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{followers|length}}</span>
                        <span class="text-sm text-gray-600 dark:text-gray-400">Followers</span>
                    </div>
                </button>
                <div id="readFollowerModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                    <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
                        <!-- Modal content -->
                        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 w-full">
                            <!-- Modal header -->
                            <div class="flex justify-between mb-4 rounded-t sm:mb-5">
                                <div class="text-lg text-gray-900 md:text-xl dark:text-white">
                                    <h3 class="font-semibold ">
                                        Followers
                                    </h3>
                                    <p class="text-xs">
                                        {{followers|length}} Followers
                                    </p>
                                </div>
                                <div>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="readFollowerModal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                            </div>
                            <dl class="w-100">
                                <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">User Profiles</dt>
                                <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400 w-full">
                                    <div class="flex flex-wrap w-full space-y-4 overflow-y-auto" style="max-height: 400px;">
                                        {% for user in followers %}
                                            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-3 mx-auto">
                                                <div class="flex flex-col items-center pb-10">
                                                    <img style="max-height:100px" class="w-18 h-18 mb-3 rounded-full shadow-lg" src="{% if user.follower.avatar %}{{ user.follower.avatar.url }}{% else %}{% static 'dist/img/default-user.png' %}{% endif %}" alt="{{user.following}}"/>
                                                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ user.follower }}</h5>
                                                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ user.follower.first_name }}</span>
                                                    <div class="flex space-x-2 mt-4 md:mt-6">
                                                        {% if request.user.is_authenticated %}
                                                            {% if request.user.profile != user.follower %}
                                                                {% if request.user.profile|is_following:user.follower %}
                                                                    <a href="/users/profile/{{user.follower}}/unfollow" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center focus:ring-gray-500 inline-flex items-center bg-gray-100 border text-gray-800 border-gray-800 dark:bg-gray-600 dark:border-gray-800 dark:text-white rounded-lg">Unfollow</a>
                                                                {% else %}
                                                                    <a href="/users/profile/{{user.follower}}/follow" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Follow</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <a href="/users/profile/{{ user.follower }}/" class="py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">View Profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% if followers|length == 0 %}
                                            <div class="w-full text-center text-gray-500 dark:text-gray-400 py-8">
                                                <h3>No follower profiles</h3>
                                                <p class="mt-2 mb-4">Engage in our community and connect with our user!</p>
                                                <a href="/social/feed" class="rounded-lg px-3 py-2 text-white bg-primary-700 hover:bg-primary-400 font-bold">Social Feed</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </dd>
                            </dl>  
                        </div>
                    </div>
                </div>
             
                {% if request.user == user %}
                    <a href="/users/profile/edit" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center focus:ring-gray-500 focus:border-gray-400 inline-flex items-center bg-gray-200 border text-gray-800 border-gray-800 dark:bg-gray-600 dark:border-gray-800 dark:text-white rounded-lg">Edit Profile</a>
                {% else %}
                    {% if is_following %}
                        <a href="/users/profile/{{user.username}}/unfollow" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center focus:ring-gray-500 inline-flex items-center bg-gray-100 border text-gray-800 border-gray-800 dark:bg-gray-600 dark:border-gray-800 dark:text-white rounded-lg">Unfollow</a>
                    {% else %}
                        <a href="/users/profile/{{user.username}}/follow" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <!-- horizontal line -->
        <div class="mt-8 border-b border-gray-200 dark:border-gray-700"></div>

        {% if user.profile.bio %}
        <div class="mt-8">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">About</h3>
            <p class="mt-4 text-gray-600 dark:text-gray-400">{{profile.bio}}</p>
        </div>
        {% endif %}

        <!-- horizontal line -->
        <div class="mt-8 border-b border-gray-200 dark:border-gray-700"></div>
        
        <div class="mt-8 p-5 rounded-lg bg-gray-50 dark:bg-gray-800 mb-8">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">Posts</h3>
            {% if posts|length == 0 %}
                    <div class="text-center">   
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">No Posts</h3>
                        {% if request.user == user %}
                            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-400">You currently Have No Posts! You can create one here:</p>
                            <a href="/social/posts/create" class="mb-8 mt-4 px-4 py-2 bg-blue-600 border text-white rounded-lg">Create Post</a>
                        {% else %}
                            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-400">This user currently has no posts! You can signup to be notfied when they do:</p>
                            <a href="/social/posts/create" class="mb-8 px-4 py-2 bg-blue-600 border text-white rounded-lg">Get Notified</a>
                        {% endif %}
                    </div>
            {% else %}
                <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-3">
                    {% for post in posts %}
                        <div class="bg-white dark:bg-gray-700 shadow rounded-lg p-4">
                            <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{post.title}}</h4>
                            <p class="mt-2 text-gray-600 dark:text-gray-400">{{post.content}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
