{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head-alt.html' %}
    {% block extrastyle %}{% endblock extrastyle %}
</head>

<body>

    {% block messages %}{% endblock messages %}

    {% block navigation %}
    {% include 'includes/navigation-alt.html' %}
    {% endblock navigation %}

    {% block content %}{% endblock content %}

    {% include 'includes/footer-alt.html' %}

    {% block extra_js %}{% endblock extra_js %}
    <script src="{% static 'dist/main.bundle.js' %}"></script>
</body>
</html>