{% extends 'layouts/base-auth.html' %}
{% load static %}
{% load list_filters %}

{% block extrastyle %}
<link href="{% static 'assets\quill.css' %}" rel="stylesheet" />
<link href="{% static 'assets\dropzone.css' %}" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
{% endblock %}


{% block content %}

<section id="create" class="flex flex-col items-center justify-center mx-auto md:h-screen pt:mt-0 max-w-2xl p-4">
    <a href="/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="https://www.atc.qld.edu.au/img/atc-logo.svg" class="mr-4 w-80" alt="ATC Logo">
    </a>
    <div class="block px-6 py-6 w-full bg-gray-200 rounded-lg dark:bg-gray-800">
        <div class="flex mx-auto items-center justify-center w-full ms-8">
            <ol class="flex items-center w-full mb-4 sm:mb-5 mx-auto ms-8">
                <li id="step-2-line" class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700">
                    <div class="flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full lg:h-12 lg:w-12 dark:bg-blue-800 shrink-0">
                        <i class="fas fa-image text-blue-600 text-lg lg:text-2xl dark:text-blue-300"></i>
                    </div>
                </li>
                <li id="step-3-line" class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700">
                    <div id="step-2" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0">
                        <i class="fas fa-edit text-blue-600 text-lg lg:text-2xl dark:text-blue-300"></i>
                    </div>
                </li>
                <li class="flex items-center w-full">
                    <div id="step-3" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0">
                       <i class="fas fa-fish text-blue-600 text-lg lg:text-2xl dark:text-blue-300"></i>
                    </div>
                </li>
            </ol>
        </div>
        <div id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="flex items-center p-4 mb-3 text-sm rounded-lg dark:bg-gray-800 {{message.tags}}" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>{{ message }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form class="w-full" method="POST" id="multiStepForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="step-1" class="step-content">
                <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Post Image (optional)</h3>
                <div class="mb-4 w-full">
                    <div class="flex items-center justify-center w-full">
                        <label for="dropzone-file" class="w-full">
                            <div class="flex items-center justify-center w-full">
                                <div action="/file-upload" class="form-control dropzone dz-clickable itemImg items-center justify-center w-full h-72 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 overflow-hidden" id="productImg">
                                    <div class="flex flex-col items-center justify-center -z-30 rounded-lg">
                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                        </svg>
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                        <p class="text-xs text-gray-500 dark:text-gray-400 mb-2">SVG, PNG, or JPG (MAX. 1800x1200px)</p>
                                        <small class="text-xs text-gray-500 dark:text-gray-400 font-semibold">Please only upload one image at a time!</small>
                                    </div>
                                    <div class="dz-default dz-message rounded-lg"></div>
                                </div>
                            </div>
                            
                        </label>
                    </div>
                </div>
            </div>
            <div id="step-2" class="step-content hidden text-gray-800 dark:text-white">
                <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Post Content (required)</h3>
                <div id="toolbar-container" class="text-white bg-white dark:bg-gray-400">
                    <span class="ql-formats">
                      <select class="ql-font"></select>
                      <select class="ql-size"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-bold"></button>
                      <button class="ql-italic"></button>
                      <button class="ql-underline"></button>
                      <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                      <select class="ql-color"></select>
                      <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-script" value="sub"></button>
                      <button class="ql-script" value="super"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-header" value="1"></button>
                      <button class="ql-header" value="2"></button>
                      <button class="ql-blockquote"></button>
                      <button class="ql-code-block"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-list" value="ordered"></button>
                      <button class="ql-list" value="bullet"></button>
                      <button class="ql-indent" value="-1"></button>
                      <button class="ql-indent" value="+1"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-direction" value="rtl"></button>
                      <select class="ql-align"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-link"></button>
                      <button class="ql-image"></button>
                      <button class="ql-video"></button>
                      <button class="ql-formula"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-clean"></button>
                    </span>
                </div>
                <div id="editor" class="text-gray-800 h-full dark:text-white bg-gray-200 dark:bg-gray-600"></div>
            </div>
            <div id="step-3" class="step-content hidden">
                <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Post Species (optional)</h3>
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Search for a Species</label>
                <div class="relative w-full rounded my-2">
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="speciesSearch" name="species" oninput="searchSpecies(this.value)" list="speciesList" placeholder="Search Species..." name="speciesList">
                    <datalist id="speciesList">
                    </datalist>
                </div>
                <div id="speciesInfo" class="my-2">
                </div>
            </div>
            <div class="flex items-center justify-between mt-4">
                <button type="button" id="go_back" onclick="window.history.back()" class="text-white bg-red-500 dark:bg-red-600 dark:hover:bg-red-400 focus:ring-2 focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5">Go Back</button> 
                <button type="button" id="prevBtn" class="hidden text-white bg-red-500 dark:bg-red-600 dark:hover:bg-red-400 focus:ring-2 focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5">Previous</button>
                <button type="button" id="nextBtn" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Next Step: Add Content
                </button>
            </div>
        </form>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script src="{% static 'assets\dropzone.min.js' %}"></script>
<script>
    const quill = new Quill('#editor', {
        theme: 'snow',
        placeholder: 'Write your post content here...',
        modules: {
            syntax: true,
            toolbar: '#toolbar-container',
        },
        
    });

    document.addEventListener("DOMContentLoaded", function () {
        let currentStep = 1;
        const totalSteps = 3;

        const steps = document.querySelectorAll(".step-item");
        const stepContents = document.querySelectorAll(".step-content");
        const nextBtn = document.getElementById("nextBtn");
        const prevBtn = document.getElementById("prevBtn");
        const goBack = document.getElementById("go_back");
        const messages = document.getElementById("messages");

        step2 = document.getElementById("step-2");
        step2Line = document.getElementById("step-2-line");
        step3Line = document.getElementById("step-3-line");
        step3 = document.getElementById("step-3");


        nextBtn.addEventListener("click", () => {
            var content = quill.getContents()['ops'];

            if (currentStep < totalSteps) {
                step2Line.classList = 'flex w-full items-center text-blue-600 dark:text-blue-500 after:content-[""] after:w-full after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-blue-800 ms-4';
                
                if (currentStep === 2 && content[0]['insert'] === '\n') {
                    messages.innerHTML += `
                    <div class="flex items-center p-4 mb-3 text-sm rounded-lg dark:bg-gray-800 text-red-800 border border-red-300 bg-red-50 dark:text-red-400 dark:border-red-800" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>Please Enter A Valid Input</div>
                    </div>
                    `;
                    return;
                } else {
                    messages.innerHTML = ``;
                }

                stepContents[currentStep - 1].classList.add("hidden");
                stepContents[currentStep].classList.remove("hidden");
                //steps[currentStep - 1].classList.remove("active");
                //steps[currentStep].classList.add("active");
                currentStep++;

                if (currentStep === totalSteps) {
                    nextBtn.innerHTML = "Post";
                    step3Line.classList = 'flex w-full items-center text-blue-600 dark:text-blue-500 after:content-[""] after:w-full after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-blue-800 ms-4';
                    step2.classList = 'flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full lg:h-12 lg:w-12 dark:bg-blue-800 shrink-0';
                }

                if (currentStep > totalSteps) { // was (currentStep === totalSteps)
                    nextBtn.innerHTML = "Submit";
                    nextBtn.type = "submit";
                }

                if (currentStep > 1) {
                    prevBtn.classList.remove("hidden");
                    goBack.classList.add("hidden");
                }
            } else {
                step3.classList = 'flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full lg:h-12 lg:w-12 dark:bg-blue-800 shrink-0';
                submitForm(event);
            }
        });

        prevBtn.addEventListener("click", () => {
            if (currentStep > 1) {
                step3Line.classList = 'flex w-full items-center after:content-[""] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700';
                step3.classList = 'flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0';

                stepContents[currentStep - 1].classList.add("hidden");
                stepContents[currentStep - 2].classList.remove("hidden");
                //steps[currentStep - 1].classList.remove("active");
                //steps[currentStep - 2].classList.add("active");
                currentStep--;

                nextBtn.innerHTML = "Next Step: Add Content";
                nextBtn.type = "button";

                if (currentStep === 1) {
                    step2Line.classList = 'flex w-full items-center after:content-[""] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700';
                    step2.classList = 'flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0';

                    prevBtn.classList.add("hidden");
                    goBack.classList.remove("hidden");
                } else {
                    prevBtn.classList.remove("hidden");
                    goBack.classList.add("hidden");
                }
            }
        });
    });

    

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function submitForm(event) {
        var formData = new FormData(); // 'this' refers to the form
        formData.append('content', JSON.stringify(quill.getContents()));
        formData.append('species', document.getElementById('speciesSearch').value);

        fetch('/social/post/', {
            method: 'POST',
            body: formData,
            headers: { 'X-CSRFToken': getCookie('csrftoken') },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.href = "/social/feed/";
            }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    };



    async function searchSpecies(query) {
        if (query.length < 3) {
            document.getElementById('speciesList').innerHTML = '';
            return;
        }
    
        const response = await fetch(`http://127.0.0.1:8000/api/wildlife/species/search/?q=${query}`);
        const data = await response.json();
    
        let html = '';
        for (let species of data) {
            html += `<option value="${species.common_name}">`;
        }

        const responseInfo = await fetch(`http://127.0.0.1:8000/api/wildlife/species/info/search/?q=${query}`);
        const dataInfo = await responseInfo.json();

        if (dataInfo.length > 0) {
            dataInfo2 = dataInfo[0];
            htmlInfo = `
                <div class="my-2 h-fit rounded-lg bg-gray-100 border border-gray-300 text-gray-900 text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                    <div class="flex items-center justify-between p-2">
                        <div class="flex items-center">
                            <div class="ml-2">
                                <h4 class="font-semibold">${data[0].common_name}</h4>
                                <p class="text-xs text-gray-500 dark:text-gray-400">(${dataInfo2.species_name})</p>
                            </div>
                        </div>
                    </div>`;
                if (dataInfo2.description) {
                    htmlInfo += `
                    <div class="flex items-center justify-between p-2">
                        <div class="flex items-center">
                            <div class="ml-2">
                                <p class="text-xs text-gray-500 dark:text-gray-400">${dataInfo2.description}</p>
                            </div>
                        </div>
                    </div>`;
                }                     
                htmlInfo += `   
                    <div class="grid grid-cols-4 gap-2 p-2 h-full item-center">
                        <div class="flex flex-col rounded-lg p-3 bg-white dark:bg-gray-800">
                            <div class="my-auto">
                                <p class="text-xs p-3 py-1 bg-primary-600 mb-2 rounded-full text-white text-center">Family</p>
                                <p class="text-xs text-blue-500 dark:text-blue-400 text-center bold">${data[0].family_name}</p>
                            </div>
                        </div>
                        <div class="flex flex-col rounded-lg p-3 bg-white dark:bg-gray-800">
                            <div class="my-auto">
                                <p class="text-xs p-3 py-1 bg-primary-600 mb-2 rounded-full text-white text-center">Environment</p>
                                <p class="text-xs text-green-500 dark:text-green-400 text-center bold">${dataInfo2.environment}</p>
                            </div>
                        </div>
                        <div class="flex flex-col rounded-lg p-3 bg-white dark:bg-gray-800">
                            <div class="my-auto">
                                <p class="text-xs p-3 py-1 bg-primary-600 mb-2 rounded-full text-white text-center">Wetland Status</p>
                                <p class="text-xs text-green-500 dark:text-green-400 text-center bold">${dataInfo2.wetland_status}</p>
                            </div>
                        </div>
                        <div class="flex flex-col rounded-lg p-3 bg-white dark:bg-gray-800">
                            <div class="my-auto">
                                <p class="text-xs p-3 py-1 bg-primary-600 mb-2 rounded-full text-white text-center">Pest Status</p>
                                <p class="text-xs text-green-500 dark:text-green-400 text-center bold">${dataInfo2.pest_status}</p>
                            </div>
                        </div>
                    </div>
                </div>
            `; 
        }       

        document.getElementById('speciesList').innerHTML = html;
        document.getElementById('speciesInfo').innerHTML = htmlInfo;
    }
</script>
{% endblock %}