{% extends 'layouts/base-alt.html' %}
{% load static %}

{% block extrastyle %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
{% endblock extrastyle %}


{% block content %}
{% load list_filters %}
<section class="bg-white dark:bg-gray-900 pt-32">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <a href="#feed" class="inline-flex justify-between items-center py-1 px-1 pr-4 text-sm text-gray-700 bg-gray-200 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 mb-8" role="alert">
            <span class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3">Fishing</span> <span class="text-sm font-medium">See what our fishing club is up to!</span> 
            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Welcome To Our "Brag Page"</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Learn about what we get up to at the Ambrose Treacy College fishing club as our members "brag" about their recent catches. To stay up to date ensure to follow any members to be notified of when they post!</p>
        <div class="lg:col-span-7 mb-8 lg:mb-16 py-2 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="/social/post/" class="inline-flex mt-0 justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Create a Post
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="#feed" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                View Feed
            </a>  
        </div>
        <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
            <span class="font-semibold text-gray-400 uppercase">Fish...</span>
            <div class="flex flex-wrap justify-center items-center mt-8 text-gray-500 sm:justify-between -z-50">
                <div id="default-carousel" class="relative w-full h-14 lg:h-8 -z-20" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-full overflow-hidden rounded-lg">
                        {% for fish in fishes %}
                            <!-- Item 1 -->
                            <div class="hidden duration-2000 ease-in-out h-full -z-40" data-carousel-item>
                                <!--https://source.unsplash.com/?fish=-->
                                {{fish.common_name|title}}
                                <span class="ms-6">{{ fishes|get_item:forloop.counter|default:""|title }}</span>
                                {% with counter=forloop.counter|add:1 %}
                                    <span class="ms-6">{{ fishes|get_item:counter|default:""|title }}</span>
                                {% endwith %}
                                {% with counter2=forloop.counter|add:2 %}
                                    <span class="ms-6">{{ fishes|get_item:counter2|default:""|title }}</span>
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>              
                </div> 
            </div>
        </div> 
    </div>
</section>


<section id="feed" class="bg-gray-200 dark:bg-gray-700 pt-20 p-3 py-8 w-screen">
    <div class="grid grid-cols gap-6 mx-auto sm:grid-cols-1 lg:grid-cols-3 px-2 lg:px-8 w-screen">
        <div class="col-span-2">
            <div class="grid grid-cols-1 gap-6 mx-auto sm:grid-cols-1 lg:grid-cols-1 lg:px-12 w-screen">

                <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div id="indicators-carousel" class="relative w-full" data-carousel="static">
                        <!-- Carousel wrapper -->
                        <div class="relative overflow-hidden rounded-t-lg h-56 md:h-96">
                                <!-- Item 1 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                                <img src="https://images.digistormhosting.com.au/eyJidWNrZXQiOiJkaWdpc3Rvcm0td2Vic2l0ZXMiLCJrZXkiOiJhdGMtYXUtcWxkLTE0My13ZWJzaXRlXC9jb250ZW50XC90ZWFjaGVyLXRlYWNoaW5nLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJmaXQiOiJjb3ZlciIsInBvc2l0aW9uIjoiY2VudGVyIiwid2lkdGgiOjgwMCwiaGVpZ2h0IjpudWxsfSwicXVhbGl0eSI6ODJ9fQ==" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://media.digistormhosting.com.au/atc-au-qld-143-website/content/About-Us-Facilities.jpg?v=1656286165" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                            <!-- Item 3 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://images.digistormhosting.com.au/eyJidWNrZXQiOiJkaWdpc3Rvcm0td2Vic2l0ZXMiLCJrZXkiOiJhdGMtYXUtcWxkLTE0My13ZWJzaXRlXC9jb250ZW50XC90ZWFjaGVyLXRlYWNoaW5nLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJmaXQiOiJjb3ZlciIsInBvc2l0aW9uIjoiY2VudGVyIiwid2lkdGgiOjgwMCwiaGVpZ2h0IjpudWxsfSwicXVhbGl0eSI6ODJ9fQ==" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                        </div>
                        <!-- Slider indicators -->
                        <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">

                            <!-- forloop here aswell!!!!!!!!!! -->
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>

                    <div class="p-5">
                        <!-- like, comment save icons -->
                        <div class="flex items mb-3">
                            <div class="flex items-center">
                                <button class="flex items-center justify-center w-6 h-6 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none">
                                    <!--<i class="fa fa-heart"></i>--> <!--liked > rm regular -->
                                    <i class="fa-regular fa-heart"></i> <!--not liked-->
                                </button>
                                <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                <small class="text-sm text-gray-500 dark:text-gray-400 text-medium">73 likes</small>
                            </div>
                            <button class="flex items-center justify-center w-8 h-8 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none ms-2">
                                <i class="fa-regular fa-comment"></i>
                            </button>
                            <button class="flex items-center justify-center w-8 h-8 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none ms-auto right-0">
                                <i class="fa-regular fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="flex items-center mb-3">
                            <img class="w-10 h-10 rounded-full" src="{% static "dist/img/default-user.png" %}" alt="User" />
                            <div class="ms-3">
                                <a href="/users/profile/{{post.user_profile}}" class="font-semibold text-gray-900 dark:text-white">JohnDoe12</a>
                                <p class="text-sm text-gray-500 dark:text-gray-400">2 hours ago</p>
                            </div>
                            {% if is_following %}
                                <a href="/users/profile/{{user.username}}/unfollow" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center inline-flex items-center bg-blue-600 border text-white rounded-lg ms-auto right-0">Unfollow</a>
                            {% else %}
                                <a href="/users/profile/{{user.username}}/follow" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ms-auto right-0">Follow</a>
                            {% endif %}
                        </div>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">This will be the descriptions for the post. if the description has a lot of works a "read more" butoon will appear that will cut of the text to ensure the height of the post is not too long... <span><a class="blod underline" href="#">Read More</a></p>
                        <div class="rounded-lg bg-gray-200 dark:bg-gray-700">
                            <div class="p-2 flex items">
                                <img class="w-20 h-12 rounded" src="https://source.unsplash.com/featured/?fish=whiting" alt="Fish Species" />
                                <div class="ms-3">
                                    <p class="font-semibold text-gray-900 dark:text-white bold">Species name</p>
                                    <small class="text-sm text-gray-500 dark:text-gray-400">Scientific name</small>
                                </div>
                                <div class="ms-auto right-0">
                                    <a href="#" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-4 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ms-auto right-0">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4">
                            <a href="#" class="text-sm font-medium text-primary-600 dark:text-primary-500 hover:underline">View all 13 comments</a>
                        </div>
                    </div>
                </div>

                <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-5">
                        <div class="flex items-center mb-3">
                            <img class="w-10 h-10 rounded-full" src="{% static "dist/img/default-user.png" %}" alt="User" />
                            <div class="ms-3">
                                <a href="/users/profile/{{post.user_profile}}" class="font-semibold text-gray-900 dark:text-white">JohnDoe12</a>
                                <p class="text-sm text-gray-500 dark:text-gray-400">2 hours ago</p>
                            </div>
                            {% if is_following %}
                                <a href="/users/profile/{{user.username}}/unfollow" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center inline-flex items-center bg-blue-600 border text-white rounded-lg ms-auto right-0">Unfollow</a>
                            {% else %}
                                <a href="/users/profile/{{user.username}}/follow" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ms-auto right-0">Follow</a>
                            {% endif %}
                        </div>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">This will be the descriptions for the post. if the description has a lot of works a "read more" butoon will appear that will cut of the text to ensure the height of the post is not too long... <span><a class="blod underline" href="#">Read More</a></p>
                        <div class="rounded-lg bg-gray-200 dark:bg-gray-700">
                            <div class="p-2 flex items">
                                <img class="w-20 h-12 rounded" src="https://source.unsplash.com/featured/?fish=whiting" alt="Fish Species" />
                                <div class="ms-3">
                                    <p class="font-semibold text-gray-900 dark:text-white bold">Species name</p>
                                    <small class="text-sm text-gray-500 dark:text-gray-400">Scientific name</small>
                                </div>
                                <div class="ms-auto right-0">
                                    <a href="#" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-4 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ms-auto right-0">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="flex items my-2">
                            <div class="flex items-center">
                                <button class="flex items-center justify-center w-6 h-6 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none">
                                    <!--<i class="fa fa-heart"></i>--> <!--liked > rm regular -->
                                    <i class="fa-regular fa-heart"></i> <!--not liked-->
                                </button>
                                <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                <small class="text-sm text-gray-500 dark:text-gray-400 text-medium">73 likes</small>
                            </div>
                            <button class="flex items-center justify-center w-8 h-8 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none ms-2">
                                <i class="fa-regular fa-comment"></i>
                            </button>
                            <button class="flex items-center justify-center w-8 h-8 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none ms-auto right-0">
                                <i class="fa-regular fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="pt-1">
                            <a href="#" class="text-sm font-medium text-primary-600 dark:text-primary-500 hover:underline">View all 13 comments</a>
                        </div>
                    </div>
                </div>

                <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-5">
                        <div class="flex items-center mb-3">
                            <img class="w-10 h-10 rounded-full" src="{% static "dist/img/default-user.png" %}" alt="User" />
                            <div class="ms-3">
                                <a href="/users/profile/{{post.user_profile}}" class="font-semibold text-gray-900 dark:text-white">JohnDoe12</a>
                                <p class="text-sm text-gray-500 dark:text-gray-400">2 hours ago</p>
                            </div>
                            {% if is_following %}
                                <a href="/users/profile/{{user.username}}/unfollow" class="focus:ring-4 font-medium text-sm px-5 py-2.5 text-center inline-flex items-center bg-blue-600 border text-white rounded-lg ms-auto right-0">Unfollow</a>
                            {% else %}
                                <a href="/users/profile/{{user.username}}/follow" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ms-auto right-0">Follow</a>
                            {% endif %}
                        </div>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">This will be the descriptions for the post. if the description has a lot of works a "read more" butoon will appear that will cut of the text to ensure the height of the post is not too long... <span><a class="blod underline" href="#">Read More</a></p>
                        <div class="flex items my-2">
                            <div class="flex items-center">
                                <button class="flex items-center justify-center w-6 h-6 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none">
                                    <!--<i class="fa fa-heart"></i>--> <!--liked > rm regular -->
                                    <i class="fa-regular fa-heart"></i> <!--not liked-->
                                </button>
                                <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                <small class="text-sm text-gray-500 dark:text-gray-400 text-medium">73 likes</small>
                            </div>
                            <button class="flex items-center justify-center w-8 h-8 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none ms-2">
                                <i class="fa-regular fa-comment"></i>
                            </button>
                            <button type="button" onclick="document.getElementById('comments-form-21').classList.remove('hidden')" class="flex items-center justify-center w-8 h-8 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none ms-auto right-0">
                                <i class="fa-regular fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="pt-1">
                            <a onclick="document.getElementById('comments-21').classList.remove('hidden')" class="text-sm font-medium text-primary-600 dark:text-primary-500 hover:underline">View all 13 comments</a>
                        </div>
                        <form class="mb-6 mt-4 hidden" id="comments-form-21"> <!-- comment-form-{post.id}-->
                            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                                <label for="comment" class="sr-only">Your comment</label>
                                <textarea id="comment" rows="3"
                                    class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                                    placeholder="Write a comment..." required></textarea>
                            </div>
                            <div class="flex items">
                                <button type="submit"
                                    class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    Post comment
                                </button>
                                <button type="button" onclick="document.getElementById('comments-form-21').classList.add('hidden')"
                                    class="text-white bg-red-500 dark:bg-red-600 dark:hover:bg-red-400 focus:ring-2 focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 flex ms-auto right-0">
                                    Cancel
                                </button>
                            </div>
                        </form>
                        <div class="space-y-4 hidden" id="comments-21"> <!-- comments-{post.id} -->
                            <div class="flex items-center mx-auto justify-center">
                                <button type="button" onclick="document.getElementById('comments-21').classList.add('hidden')">
                                    <i class="fa-regular fa-arrow-alt-circle-up fa-2x text-primary-800 dark:text-white"></i>
                                </button>
                            </div>
                            <article class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
                                <footer class="flex justify-between items-center mb-2">
                                    <div class="flex items-center">
                                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                                                class="mr-2 w-6 h-6 rounded-full"
                                                src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                                alt="Michael Gough">Michael Gough</p>
                                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                                                title="February 8th, 2022">Feb. 8, 2022</time></p>
                                    </div>
                                    <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                                        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                        type="button">
                                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                        </svg>
                                        <span class="sr-only">Comment settings</span>
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdownComment1"
                                        class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                            aria-labelledby="dropdownMenuIconHorizontalButton">
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </footer>
                                <p class="text-gray-500 dark:text-gray-400">Very straight-to-point article. Really worth time reading. Thank you! But tools are just the
                                    instruments for the UX designers. The knowledge of the design tools are as important as the
                                    creation of the design strategy.</p>
                                <div class="flex items-center mt-4 space-x-4">
                                    <div class="flex items-center">
                                        <button class="flex items-center justify-center w-6 h-6 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none">
                                            <!--<i class="fa fa-heart"></i>--> <!--liked > rm regular -->
                                            <i class="fa-regular fa-heart"></i> <!--not liked-->
                                        </button>
                                        <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                        <small class="text-sm text-gray-500 dark:text-gray-400 text-medium">73 likes</small>
                                    </div>
                                    <button type="button"
                                        class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 text-sm text-gray-500 hover:underline dark:text-gray-400">
                                        <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                                        </svg>
                                        Reply
                                    </button>
                                </div>
                            </article>
                            <article class="p-6 mb-3 ml-6 lg:ml-12 text-base bg-white rounded-lg dark:bg-gray-900">
                                <footer class="flex justify-between items-center mb-2">
                                    <div class="flex items-center">
                                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                                                class="mr-2 w-6 h-6 rounded-full"
                                                src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                                                alt="Jese Leos">Jese Leos</p>
                                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-12"
                                                title="February 12th, 2022">Feb. 12, 2022</time></p>
                                    </div>
                                    <button id="dropdownComment2Button" data-dropdown-toggle="dropdownComment2"
                                        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                        type="button">
                                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                        </svg>
                                        <span class="sr-only">Comment settings</span>
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdownComment2"
                                        class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                            aria-labelledby="dropdownMenuIconHorizontalButton">
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </footer>
                                <p class="text-gray-500 dark:text-gray-400">Much appreciated! Glad you liked it ☺️</p>
                                <div class="flex items-center mt-4 space-x-4">
                                    <div class="flex items-center">
                                        <button class="flex items-center justify-center w-6 h-6 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none">
                                            <!--<i class="fa fa-heart"></i>--> <!--liked > rm regular -->
                                            <i class="fa-regular fa-heart"></i> <!--not liked-->
                                        </button>
                                        <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                        <small class="text-sm text-gray-500 dark:text-gray-400 text-medium">73 likes</small>
                                    </div>
                                    <button type="button"
                                        class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                                        <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                                        </svg>                
                                        Reply
                                    </button>
                                </div>
                            </article>
                            <article class="p-6 mb-3 text-base bg-white rounded-lg border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                <footer class="flex justify-between items-center mb-2">
                                    <div class="flex items-center">
                                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                                                class="mr-2 w-6 h-6 rounded-full"
                                                src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
                                                alt="Bonnie Green">Bonnie Green</p>
                                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                                                title="March 12th, 2022">Mar. 12, 2022</time></p>
                                    </div>
                                    <button id="dropdownComment3Button" data-dropdown-toggle="dropdownComment3"
                                        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                        type="button">
                                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                        </svg>
                                        <span class="sr-only">Comment settings</span>
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdownComment3"
                                        class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                            aria-labelledby="dropdownMenuIconHorizontalButton">
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </footer>
                                <p class="text-gray-500 dark:text-gray-400">The article covers the essentials, challenges, myths and stages the UX designer should consider while creating the design strategy.</p>
                                <div class="flex items-center mt-4 space-x-4">
                                    <div class="flex items-center">
                                        <button class="flex items-center justify-center w-6 h-6 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none">
                                            <!--<i class="fa fa-heart"></i>--> <!--liked > rm regular -->
                                            <i class="fa-regular fa-heart"></i> <!--not liked-->
                                        </button>
                                        <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                        <small class="text-sm text-gray-500 dark:text-gray-400 text-medium">73 likes</small>
                                    </div>
                                    <button type="button"
                                        class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                                        <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                                        </svg>
                                        Reply
                                    </button>
                                </div>
                            </article>
                            <article class="p-6 text-base bg-white rounded-lg border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                <footer class="flex justify-between items-center mb-2">
                                    <div class="flex items-center">
                                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                                                class="mr-2 w-6 h-6 rounded-full"
                                                src="https://flowbite.com/docs/images/people/profile-picture-4.jpg"
                                                alt="Helene Engels">Helene Engels</p>
                                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-06-23"
                                                title="June 23rd, 2022">Jun. 23, 2022</time></p>
                                    </div>
                                    <button id="dropdownComment4Button" data-dropdown-toggle="dropdownComment4"
                                        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                        type="button">
                                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                        </svg>
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdownComment4"
                                        class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                            aria-labelledby="dropdownMenuIconHorizontalButton">
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </footer>
                                <p class="text-gray-500 dark:text-gray-400">Thanks for sharing this. I do came from the Backend development and explored some of the tools to design my Side Projects.</p>
                                <div class="flex items-center mt-4 space-x-4">
                                    <div class="flex items-center">
                                        <button class="flex items-center justify-center w-6 h-6 text-gray-500 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none">
                                            <!--<i class="fa fa-heart"></i>--> <!--liked > rm regular -->
                                            <i class="fa-regular fa-heart"></i> <!--not liked-->
                                        </button>
                                        <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                        <small class="text-sm text-gray-500 dark:text-gray-400 text-medium">73 likes</small>
                                    </div>
                                    <button type="button"
                                        class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                                        <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                                        </svg>
                                        Reply
                                    </button>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-span-1 hidden lg:block h-full">
            <aside id="cta-button-sidebar" class="sticky top-0 right-0 z-40 rounded-lg shadow h-fit max-h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar" style="top:8rem">
                <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 rounded-lg shadow">
                   <form action="#" method="get" class="z-40 h-full">
                        <h5 id="drawer-label"
                            class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
                            Apply filters
                        </h5>
                        
                    
                        <div class="flex flex-col justify-between flex-1">
                            <div class="space-y-6">
                                <!-- Categories -->
                                <div class="space-y-2">
                                    <h6 class="text-base font-medium text-black dark:text-white">
                                        Categories
                                    </h6>
                    
                                    <div class="flex items-center">
                                        <input id="tv" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="tv" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            TV, Audio-Video
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="desktop" type="checkbox" value="" checked
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="dektop" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Desktop PC
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="gaming" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="gaming" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Gaming
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="monitors" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="monitors" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Monitors
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="laptops" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="laptops" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Laptops
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="console" type="checkbox" value="" checked
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="console" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Console
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="tablet" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="tablet" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Tablets
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="foto" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="foto" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Foto
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="fashion" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="fashion" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Fashion
                                        </label>
                                    </div>
                    
                                    <div class="flex items-center">
                                        <input id="books" type="checkbox" value=""
                                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    
                                        <label for="books" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            Books
                                        </label>
                                    </div>
                    
                                    <a href="#"
                                        class="flex items-center text-sm font-medium text-primary-600 dark:text-primary-500 hover:underline">
                                        View all
                                    </a>
                                </div>
                    
                                <!-- Prices -->
                                <div class="space-y-2">
                                    <h6 class="text-base font-medium text-black dark:text-white">
                                        Prices
                                    </h6>
                                    <div class="flex items-center justify-between col-span-2 space-x-3">
                                        <div class="w-full">
                                            <label for="min-experience-input"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                                From
                                            </label>
                    
                                            <input type="number" id="price-from" value="300" min="1" max="10000"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                placeholder="" required>
                                        </div>
                    
                                        <div class="w-full">
                                            <label for="price-to"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                                To
                                            </label>
                    
                                            <input type="number" id="max-experience-input" value="3500" min="1" max="10000"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="bottom-0 left-0 flex justify-center w-full pb-4 mt-6 space-x-4 md:px-4">
                                <button type="submit"
                                    class="w-full px-5 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    Apply filters
                                </button>
                                <button type="reset"
                                    class="w-full px-5 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                    Clear all
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </aside>
             
        </div>
    
    </div>
</section>

{% endblock %}