{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Ambrose Treacy College</title>

<meta name="description"
  content="Ambrose Treacy College is an independent Catholic primary, secondary, and high school for boys, located in Indooroopilly, Brisbane, Queensland, Australia.">

<meta name="keywords"
  content="Ambrose Treacy College, ATC, Indooroopilly, Brisbane, Queensland, Australia, Catholic, primary, secondary, high school, boys, education, learning, teaching, curriculum, co-curricular, sport, music, arts, technology, faith, community, service, leadership, pastoral care, wellbeing, enrolment, contact, news, events, calendar, newsletter, portal, parent, student, teacher, alumni, employment, careers, support, donate, volunteer, partnership, sponsorship, facilities, history, governance, edmund rice, EREA">

<link rel="canonical" href="https://www.atc.qld.edu.au/">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180"  href="https://www.atc.qld.edu.au/apple-touch-icon.png">
<link rel="icon" type="image/png" href="https://www.atc.qld.edu.au/favicon.png">
<link rel="mask-icon" href="https://www.atc.qld.edu.au/favicon.png" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{% static 'dist/main.css' %}">
<link rel="stylesheet" href="https://flowbite-admin-dashboard.vercel.app//app.css">



<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
 
<!-- Font Awesome Link -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
  crossorigin="anonymous"
/>

<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>
<script>

  if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark')
  }
</script>