{% extends 'layouts/base-alt.html' %}
{% load static %}
{% block content %}
{% load list_filters %}
<section class="bg-white dark:bg-gray-900 pt-32">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Privacy <span class="text-primary-600 underline underline-offset-12">Policy</span></h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Welcome to our privacy policy, please read the contents carefully before continuing on this site. If you do not agree with the terms please terminate the use of this site imediatly. Fell fee to contact us at any time if you have any questions!</p>
        <div class="lg:col-span-7 mb-8 lg:mb-16 py-2 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="#terms" class="inline-flex mt-0 justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                View Policy
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="/contact/" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                <i class="fas fa-envelope mr-2 -ml-1 "></i>
                Contact Us!
            </a>  
        </div>
    </div>
</section>


<section id="terms" class="bg-gray-200 dark:bg-gray-800 pt-20 p-3 py-8 w-screen">
    <h2 class="mb-8 text-3xl font-bold text-center text-gray-900 dark:text-white mt-0">Our Policy...</h2>
    <div id="accordion-nested-parent" data-accordion="open">
        <h2 id="accordion-open-heading-1">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3">
                <span>Introduction</span>
            </button>
        </h2>
        <div id="accordion-collapse-body-1" aria-labelledby="accordion-collapse-heading-1">
            <div class="p-8 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400 mb-4">Welcome to the Ambrose Treacy College Fishing Club Website ("Website"). Ambrose Treacy College Fishing Club ("we," "our," or "us") is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our Website, [Ambrose Treacy College Fishing Club Website URL] ("Website"). Please read this Privacy Policy carefully. By using the Website, you agree to the terms of this Privacy Policy.</p>
                <p class="text-gray-500 dark:text-gray-400">If you have any questions, consult the <a href="/contact/" class="text-primary-600 text-medium hover:underline">contact form</a> or <a href="#FAQ" class="text-primary-600 text-medium hover:underline">FAQ.</a></p>
        
            </div>
        </div>
        <h2 id="accordion-collapse-heading-2">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                <span>1. Information We Collect</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-8 text-gray-500 dark:text-gray-400">When you register on our Website, we may collect your infomation and data.</p>
                <div id="accordion-nested-collapse" data-accordion="collapse">
                    <h2 id="accordion-nested-collapse-heading-1">
                        <button type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                        <span>1.1 Personal Information</span>
                        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                        </svg>
                        </button>
                    </h2>
                    <div id="accordion-nested-collapse-body-1" class="hidden" aria-labelledby="accordion-nested-collapse-heading-1">
                        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                            <p class="text-gray-500 dark:text-gray-400">When you register on our Website, we may collect the following personal information:</p>
                            <div class="p-5 border-gray-200 dark:border-gray-700">
                                <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
                                    <li>First Name</li>
                                    <li>Last Name</li>
                                    <li>Username</li>
                                    <li>Email Address</li>
                                    <li>Phone Number (optional)</li>
                                    <li>Address (optional)</li>
                                    <li>State, Province, ZIP/Postal Code, City (optional)</li>
                                    <li>Country (optional)</li>
                                    <li>Password (optional)</li>
                                    <li>Profile Picture (optional)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2 id="accordion-nested-collapse-heading-2">
                        <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-2" aria-expanded="false" aria-controls="accordion-nested-collapse-body-2">
                        <span>1.2 Non-Personal Information</span>
                        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                        </svg>
                        </button>
                    </h2>
                    <div id="accordion-nested-collapse-body-2" class="hidden" aria-labelledby="accordion-nested-collapse-heading-2">
                        <div class="p-5 border border-gray-200 dark:border-gray-700">
                            <p class="text-gray-500 dark:text-gray-400">We may also collect non-personal information about your visit to our Website, such as:</p>
                            <div class="p-5 border-gray-200 dark:border-gray-700">
                                <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
                                    <li>IP Address</li>
                                    <li>Browser Type</li>
                                    <li>Operating System</li>
                                    <li>Referring Website</li>
                                    <li>Pages Viewed</li>
                                    <li>Time Spent on Website</li>
                                    <li>Time and Date of Visit</li>
                                    <li>Geolocation</li>
                                    <li>Device Information</li>
                                    <li>Cookies (optional)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 id="accordion-collapse-heading-3">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
                <span>2. How We Use Your Information</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400">We use the information we collect for various purposes, including:</p>
                <div class="p-5 border-gray-200 dark:border-gray-700">
                    <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
                        <li>To provide, operate, and maintain our Website.</li>
                        <li>To improve, personalize, and expand our Website.</li>
                        <li>To understand and analyze how you use our Website.</li>
                        <li>To develop new products, services, features, and functionality.</li>
                        <li>To communicate with you, either directly or through one of our partners.</li>
                        <li>To send you emails.</li>
                        <li>To find and prevent fraud.</li>
                        <li>To provide you with notices about your account and subscriptions.</li>
                        <li>To provide you with information relating to our products or services.</li>
                    </ul>
                </div>
            </div>
        </div>
        <h2 id="accordion-collapse-heading-4">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
                <span>3. Sharing Your Information</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400">We do not sell, trade, or otherwise transfer your personal information to outside parties. However, we may share your information in the following situations:</p>
                <div class="p-5 border-gray-200 dark:border-gray-700">
                    <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
                        <li>With trusted third parties who assist us in operating our Website, conducting our business, or servicing you. Only as long as those parties agree to keep this information confidential</li>
                        <li>To comply with a legal obligation, protect and defend our rights and property, prevent fraud, or protect the personal safety of users.</li>
                        <li>With your consent.</li>
                        <li>To protect our rights, property, or safety of the website or entity.</li>
                        <li>To enforce our Website policies.</li>
                    </ul>
                </div>
            </div>
        </div>
        <h2 id="accordion-collapse-heading-5">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-5">
                <span>4. Data Security</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400">We implement a variety of security measures to maintain the safety of your personal information. These measures include:</p>
                <div class="p-5 border-gray-200 dark:border-gray-700">
                    <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
                        <li>With trusted third parties who assist us in operating our Website, conducting our business, or servicing you. Only as long as those parties agree to keep this information confidential</li>
                        <li>To comply with a legal obligation, protect and defend our rights and property, prevent fraud, or protect the personal safety of users.</li>
                        <li>With your consent.</li>
                        <li>To protect our rights, property, or safety of the website or entity.</li>
                        <li>To enforce our Website policies.</li>
                    </ul>
                </div>
                <p class="mb-4 text-gray-500 dark:text-gray-400">All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
                <p class="text-gray-500 dark:text-gray-400">We implement a variety of security measures to maintain the safety of your personal information. However, no method of transmission over the Internet or method of electronic storage is 100% secure. Therefore, we cannot guarantee its absolute security.</p>
            </div>
        </div>
        <h2 id="accordion-collapse-heading-6">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-6" aria-expanded="false" aria-controls="accordion-collapse-body-6">
                <span>5. Cookies and Tracking Technologies</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400">We use cookies and similar tracking technologies to track the activity on our Website and store certain information. Cookies are files with a small amount of data that are sent to your browser from a website and stored on your device. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Website.</p>
            </div>
        </div>
        <h2 id="accordion-collapse-heading-7">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-7" aria-expanded="false" aria-controls="accordion-collapse-body-7">
                <span>6. Third-Party Links</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-7" class="hidden" aria-labelledby="accordion-collapse-heading-7">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400">Our Website may contain links to third-party websites. We do not control these third-party websites and are not responsible for their privacy practices. We encourage you to review the privacy policies of these websites before providing any personal information.</p>
            </div>
        </div>
        <h2 id="accordion-collapse-heading-8">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-8" aria-expanded="false" aria-controls="accordion-collapse-body-8">
                <span>7. Children's Privacy</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-8" class="hidden" aria-labelledby="accordion-collapse-heading-8">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400">Our Website is intended for users who are at least 13 years old. We do not knowingly collect personal information from children under 13. If we become aware that we have inadvertently received personal information from a user under the age of 13, we will delete such information from our records.</p>
            </div>
        </div>
        <h2 id="accordion-collapse-heading-9">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-9" aria-expanded="false" aria-controls="accordion-collapse-body-9">
                <span>8. Changes to This Privacy Policy</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-9" class="hidden" aria-labelledby="accordion-collapse-heading-9">
            <div class="p-8 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="text-gray-500 dark:text-gray-400">We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. Changes to this Privacy Policy are effective when they are posted on this page. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting your information.</p>
            </div>
        </div>
    </div>  
</section>


<section id="FAQ" class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Frequently asked questions</h2>
        <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
            <div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        Why Can't I Upload a Post?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">To upload a post you must be apart of the Ambrose Treacy College fishing club. If you are then you should <a href="/contact/" class="text-primary-600 text-medium  hover:underline">Contact Us.</a> </p>
                </div>
                <div class="mb-10">                        
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        How Do I Join the Fishing Club?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">To Join the fishing club you can <a href="social/club/join/" class="text-primary-600 text-medium hover:underline">Join Here</a>. Keep in mind all requests have to be accepted by the admin or club leader.</p>
                </div>
                <div class="mb-10">                        
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        What is the Ambrose Treacy College Fishing Club?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Our fisshing club is a school-run club that invites all students, either experienced or non-experienced to fish the Brosbane River. Every week we challenge our members to catch the biggest fish, to later 'brag' about it on our dedicated <a href='/social/feed/' class='text-primary-600 text-medium hover:underline'>'brag page'</a>!</p>
                </div>
            </div>
            <div class="ms-6">
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        Do I Have to Pay to use the website?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">TThis website is completly free! At no point in time will we ever require you to pay to use our website, it is all included in the club membership.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        What does this website do?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">This website is designed to further connect the members of the Ambrose Treacy College Fishing club through a unique social experience where members can 'brag' about their recent catches.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        Is this website Secure?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">This website is built upon the safety of its user's, priotising industry-standard features such as Oauth, where your personal infomation is <b>never</b> disclosed.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}